</div>
<section id="features">
  <div class="container">


    <div class="row">

      <div class="col-lg-4">
        <img class="ico ico1" src="img/stay-home.png" alt="">
        <h3 class="features-desc">Quarantine</h3>
        <p class="features-para">Stay home,Stay safe.</p>
      </div>
      <div class="col-lg-4">
        <img class="ico ico2" src="img/keep-distance.png" alt="">
        <h3 class="features-desc">Social Distancting</h3>
        <p class="features-para">Avoid social contact.</p>
      </div>
      <div class="col-lg-4">
        <img class="ico ico3" src="img/mouth-mask.png" alt="">
        <h3 class="features-desc">Hygiene</h3>
        <p class="features-para">Use sanitizer,mask and maintain hygiene</p>
      </div>
    </div>
  </div>
</section>
<section>
  <footer id="footer">
    <i class="icos bottom-ico fab fa-twitter"></i>
    <i class="icos bottom-ico fab fa-facebook-f"></i>
    <i class="icos bottom-ico fab fa-instagram"></i>
    <i class="icos bottom-ico fas fa-envelope"></i>
    <!-- Copyright -->

    <p class="cpy">© Copyright 2020 ANII </p>
    <p class="myname">Coded & Designed by <a class="site" href="https://aniquehussain.github.io/Personal-Site/">@Syed Anique</a></p>
    <p class="df">Background-Credit-<a class="cred" href="http://www.freepik.com">denamorado / Freepik</a></p>
    <p class="df">ico credit-<a class="cred" href="https://www.flaticon.com/" title="Flaticon">Flaticon</a></div>
    </p>
  </footer>

  <!-- By Syed Anique Hussain -->
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

</script>
<!-- <a href="http://www.freepik.com">Designed by rawpixel.com / Freepik</a> -->
</body>

</html>
