<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COVID Monitor || ANII</title>
  <!-- Font Awesome -->
 <script src="https://kit.fontawesome.com/fd87467771.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
</head>

<body class="col-sm">
  <!-- <img class="Bckg"src="IMG/978.JPG" alt=""> -->
  <div class="container-fluid">
    <h1 id="head1" class="big-heading heading h1 mb-3 font-weight-normal">COVID-19</h1>
